@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>In this exercise, you're expected to:</p>
    <ol>
        <li>Navigate to all pages using the menu.</li>
        <li>On the <strong>Invoices</strong> page, verify the sum of all the invoices is correct in the summary row.</li>
        <li>Retrieve the amount for 'I634' and verify the amount is equal to '423.99 EUR'</li>
    </ol>
    <p>Remark:</p>
    <ul>
        <li>Assume more pages or functionality can be added/changed at any given time.</li>
        <li>Are there opportunities to reuse certain code?</li>
    </ul>
</div>
